In [2]:
import requests

import numpy as np 
import pandas as pd

In [3]:
kanpur = pd.read_csv("files/D04-Environment_11.csv")

In [36]:
kanpur

,City Name,Month -Year,Monthly mean average concentration - PM2.5,Monthly mean concentration - PM10,Monthly mean concentration - NO2,Monthly mean concentration - SO2,Monthly mean concentration - O3,No of AQM Sensors Environmental sensors deployed
0,KANPUR NAGAR,Dec-18,220,209.020,118.7,24.9,45.8,NaN
1,KANPUR NAGAR,Nov-18,189,253.310,119.9,15.9,35.1,NaN
2,KANPUR NAGAR,Oct-18,147,229.950,87.3,12.8,21.6,NaN
3,KANPUR NAGAR,Sep-18,42,190.700,44.6,6.8,18.8,NaN
4,KANPUR NAGAR,Aug-18,36,170.750,42.2,5.8,18.2,NaN
5,KANPUR NAGAR,Jul-18,32,184.940,39.9,7.0,15.3,NaN
6,KANPUR NAGAR,Jun-18,57,194.870,48.5,9.7,30.8,NaN
7,KANPUR NAGAR,May-18,71,197.290,61.7,9.0,39.1,NaN
8,KANPUR NAGAR,Apr-18,57,197.920,68.8,10.2,31.2,NaN
9,KANPUR NAGAR,Mar-18,67,189.710,66.5,13.3,25.9,NaN
10,KANPUR NAGAR,Feb-18,97,248.830,83.9,10.3,22.1,NaN
11,KANPUR NAGAR,Jan-18,215,256.750,101.3,9.8,17.3,NaN
12,KANPUR NAGAR,Dec-17,229,257.470,105.0,9.8,13.1,NaN
13,KANPUR NAGAR,Nov-17,213,251.850,104.5,10.5,15.4,NaN
14,KANPUR NAGAR,Oct-17,124,195.360,80.0,11.5,17.6,NaN
15,KANPUR NAGAR,Sep-17,57,175.320,49.2,7.7,15.7,NaN
16,KANPUR NAGAR,Aug-17,37,147.860,42.5,6.5,9.0,NaN
17,KANPUR NAGAR,Jul-17,31,193.770,43.3,5.5,9.8,NaN
18,KANPUR NAGAR,Jun-17,50,235.780,84.1,8.6,16.4,NaN
19,KANPUR NAGAR,May-17,62,233.390,138.4,9.6,18.7,NaN
20,KANPUR NAGAR,Apr-17,69,239.450,161.7,9.3,12.7,NaN
21,KANPUR NAGAR,Mar-17,76,234.226,108.8,10.0,12.2,NaN
22,KANPUR NAGAR,Feb-17,119,193.620,96.6,11.0,12.7,NaN
23,KANPUR NAGAR,Jan-17,178,246.280,72.6,8.8,11.9,NaN

In [70]:
kanpur["year"] = kanpur["Month -Year"].apply(lambda x: int("20"+x[4:]))
kanpur.drop(columns=["No of AQM Sensors Environmental sensors deployed"],inplace=True)

KeyError: "['No of AQM Sensors Environmental sensors deployed'] not found in axis"

In [71]:
kanpur

,City Name,Month -Year,Monthly mean average concentration - PM2.5,Monthly mean concentration - PM10,Monthly mean concentration - NO2,Monthly mean concentration - SO2,Monthly mean concentration - O3,year
0,KANPUR NAGAR,Dec-18,220,209.020,118.7,24.9,45.8,2018
1,KANPUR NAGAR,Nov-18,189,253.310,119.9,15.9,35.1,2018
2,KANPUR NAGAR,Oct-18,147,229.950,87.3,12.8,21.6,2018
3,KANPUR NAGAR,Sep-18,42,190.700,44.6,6.8,18.8,2018
4,KANPUR NAGAR,Aug-18,36,170.750,42.2,5.8,18.2,2018
5,KANPUR NAGAR,Jul-18,32,184.940,39.9,7.0,15.3,2018
6,KANPUR NAGAR,Jun-18,57,194.870,48.5,9.7,30.8,2018
7,KANPUR NAGAR,May-18,71,197.290,61.7,9.0,39.1,2018
8,KANPUR NAGAR,Apr-18,57,197.920,68.8,10.2,31.2,2018
9,KANPUR NAGAR,Mar-18,67,189.710,66.5,13.3,25.9,2018
10,KANPUR NAGAR,Feb-18,97,248.830,83.9,10.3,22.1,2018
11,KANPUR NAGAR,Jan-18,215,256.750,101.3,9.8,17.3,2018
12,KANPUR NAGAR,Dec-17,229,257.470,105.0,9.8,13.1,2017
13,KANPUR NAGAR,Nov-17,213,251.850,104.5,10.5,15.4,2017
14,KANPUR NAGAR,Oct-17,124,195.360,80.0,11.5,17.6,2017
15,KANPUR NAGAR,Sep-17,57,175.320,49.2,7.7,15.7,2017
16,KANPUR NAGAR,Aug-17,37,147.860,42.5,6.5,9.0,2017
17,KANPUR NAGAR,Jul-17,31,193.770,43.3,5.5,9.8,2017
18,KANPUR NAGAR,Jun-17,50,235.780,84.1,8.6,16.4,2017
19,KANPUR NAGAR,May-17,62,233.390,138.4,9.6,18.7,2017
20,KANPUR NAGAR,Apr-17,69,239.450,161.7,9.3,12.7,2017
21,KANPUR NAGAR,Mar-17,76,234.226,108.8,10.0,12.2,2017
22,KANPUR NAGAR,Feb-17,119,193.620,96.6,11.0,12.7,2017
23,KANPUR NAGAR,Jan-17,178,246.280,72.6,8.8,11.9,2017

In [72]:
kanpur.query('year == "2017"').to_csv("data/kanpur2017.csv")

In [73]:
kanpur.query('year == "2018"').to_csv("data/kanpur2018.csv")

In [ ]:
kanpur.to_csv("data/kanpur.csv")

In [19]:
varanasi = pd.read_csv("files/D04-Environment_Varanasi_1.csv") #https://smartcities.data.gov.in/catalog/environmentvaranasi-city?filters%5Bfield_catalog_reference%5D=2909036&format=json&offset=0&limit=9&sort%5Bcreated%5D=desc
varanasi

,City Name,Month -Year,Monthly mean/average concentration - PM2.5,Monthly mean concentration - PM10,Monthly mean concentration - NO2,Monthly mean concentration - SO2,Monthly mean concentration - O3,No of AQM Sensors / Environmental sensors deployed
0,Varanasi,Dec-18,206.41,310.57,76.45,10.72,34.35,NaN
1,Varanasi,Nov-18,177.00,322.00,66.20,11.70,36.50,NaN
2,Varanasi,Oct-18,91.00,221.00,44.40,7.20,20.30,NaN
3,Varanasi,Sep-18,47.00,116.00,17.30,5.40,32.90,NaN
4,Varanasi,Aug-18,37.00,80.00,14.00,5.70,23.60,NaN
5,Varanasi,Jul-18,35.00,68.00,19.60,6.70,20.70,NaN
6,Varanasi,Jun-18,62.00,159.00,21.40,9.70,32.80,NaN
7,Varanasi,May-18,67.00,181.00,29.70,10.10,29.30,NaN
8,Varanasi,Apr-18,71.00,226.00,52.10,11.50,26.10,NaN
9,Varanasi,Mar-18,100.00,249.00,58.00,12.90,16.20,NaN
10,Varanasi,Feb-18,118.00,216.00,69.90,11.20,11.80,NaN
11,Varanasi,Jan-18,134.00,297.00,73.50,9.10,12.80,NaN
12,Varanasi,Dec-17,256.00,390.00,89.80,11.60,40.20,NaN
13,Varanasi,Nov-17,181.00,345.00,83.30,10.30,18.60,NaN
14,Varanasi,Oct-17,91.00,192.00,41.80,8.20,17.10,NaN
15,Varanasi,Sep-17,50.00,107.00,23.20,7.80,16.60,NaN
16,Varanasi,Aug-17,37.00,69.00,18.90,5.10,12.30,NaN
17,Varanasi,Jul-17,32.00,59.00,26.00,4.80,13.70,NaN
18,Varanasi,Jun-17,51.00,158.00,39.70,5.50,35.20,NaN
19,Varanasi,May-17,69.00,236.00,39.80,8.60,44.30,NaN
20,Varanasi,Apr-17,83.00,298.00,40.00,9.70,35.50,NaN
21,Varanasi,Mar-17,111.00,289.00,52.40,12.10,23.40,NaN
22,Varanasi,Feb-17,136.00,280.00,52.30,12.10,23.20,NaN
23,Varanasi,Jan-17,212.00,318.00,45.70,9.70,16.20,NaN

In [20]:
varanasi["year"] = varanasi["Month -Year"].apply(lambda x: int("20"+x[4:]))
varanasi.drop(columns=["No of AQM Sensors / Environmental sensors deployed"],inplace=True)

In [21]:
varanasi

,City Name,Month -Year,Monthly mean/average concentration - PM2.5,Monthly mean concentration - PM10,Monthly mean concentration - NO2,Monthly mean concentration - SO2,Monthly mean concentration - O3,year
0,Varanasi,Dec-18,206.41,310.57,76.45,10.72,34.35,2018
1,Varanasi,Nov-18,177.00,322.00,66.20,11.70,36.50,2018
2,Varanasi,Oct-18,91.00,221.00,44.40,7.20,20.30,2018
3,Varanasi,Sep-18,47.00,116.00,17.30,5.40,32.90,2018
4,Varanasi,Aug-18,37.00,80.00,14.00,5.70,23.60,2018
5,Varanasi,Jul-18,35.00,68.00,19.60,6.70,20.70,2018
6,Varanasi,Jun-18,62.00,159.00,21.40,9.70,32.80,2018
7,Varanasi,May-18,67.00,181.00,29.70,10.10,29.30,2018
8,Varanasi,Apr-18,71.00,226.00,52.10,11.50,26.10,2018
9,Varanasi,Mar-18,100.00,249.00,58.00,12.90,16.20,2018
10,Varanasi,Feb-18,118.00,216.00,69.90,11.20,11.80,2018
11,Varanasi,Jan-18,134.00,297.00,73.50,9.10,12.80,2018
12,Varanasi,Dec-17,256.00,390.00,89.80,11.60,40.20,2017
13,Varanasi,Nov-17,181.00,345.00,83.30,10.30,18.60,2017
14,Varanasi,Oct-17,91.00,192.00,41.80,8.20,17.10,2017
15,Varanasi,Sep-17,50.00,107.00,23.20,7.80,16.60,2017
16,Varanasi,Aug-17,37.00,69.00,18.90,5.10,12.30,2017
17,Varanasi,Jul-17,32.00,59.00,26.00,4.80,13.70,2017
18,Varanasi,Jun-17,51.00,158.00,39.70,5.50,35.20,2017
19,Varanasi,May-17,69.00,236.00,39.80,8.60,44.30,2017
20,Varanasi,Apr-17,83.00,298.00,40.00,9.70,35.50,2017
21,Varanasi,Mar-17,111.00,289.00,52.40,12.10,23.40,2017
22,Varanasi,Feb-17,136.00,280.00,52.30,12.10,23.20,2017
23,Varanasi,Jan-17,212.00,318.00,45.70,9.70,16.20,2017

In [22]:
varanasi.query('year == "2017"').to_csv("data/varanasi2017.csv")

In [23]:
varanasi.query('year == "2018"').to_csv("data/varanasi2018.csv")